#mainContainer {

    width: fit-content;
    text-align: center;
    border-style: solid;
    background-color: rgba(253, 252, 252, 0.5);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.pageText {
    z-index: 1;
}

#title {
    margin: auto;
    background-color: rgba(253, 252, 252, 0.5);
    color: black;
    max-width: fit-content;
    border-style: double;

}

#headline {
    margin: auto;
    background-color: rgba(253, 252, 252, 0.5);
    max-width: fit-content;
    color: black;
    border-style: double;
}

#header {
    
    margin: auto;
    background-image: url("./assets/tile.jpeg"); 
    background-color: hsla(0, 20%, 99%, 0.5);
    text-align: center;
    max-width: 100%;
}



#content {
    margin: 0 auto;
    max-width: fit-content;
}

#background {
}

.tabLink {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  whitesmoke;
    padding: 2px;
    font-size: medium;

}