
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    position: relative;
    flex-grow: 2;

}

#header, #footer {
    background-image: url("./assets/tile.jpeg"); 
    background-color: hsla(0, 20%, 99%, 0.5);
    background-repeat: repeat-x;
    text-align: center;
    min-height: 100px;

}

#title {
    margin: auto;
    background-color: white;
    color: black;
    max-width: fit-content;
    border-style: ridge;

}

#headline {
    margin: auto;
    background-color: white;
    max-width: fit-content;
    color: black;
    border-style: ridge;

}

/* #mainContainer {
    display: flex;
    justify-content: space-evenly;
    height: 1000px;
} */

#home, #foodMenu, #contact {
    width: auto;
    text-align: center;
    background-color: rgba(253, 252, 252, 0.5);
    position: fixed;
}

#home {
    font-size: 1.5rem;

}

#foodMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 718px;
    flex-wrap: wrap;
    max-height: auto;
    max-width: 100%;
}

#contact {
    text-transform: capitalize;
    font-size: 1.5rem;
}

.foodItem {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 2%;   
    font-size: larger;
    max-width: 20rem;
    height: auto;
}

.foodDescription {
    font-weight: normal;
    border-style: solid;
}

.foodImage {
    max-width:100%;
}

#background {
    size: auto;
}

.tabLink {
    display: inline-block;
    margin: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  whitesmoke;
    padding: 2px;
    font-size: 1rem;
    transition: 1ms;
    border: none;
    color: black;
    border-style: ridge;
    
    

}

.tabLink:hover {
    transform: scale(1.2);
    background-color: whitesmoke;
    text-decoration-line: underline overline;
}

.contactHeading {
    text-align: center;
    line-height: normal;
    font-weight: bold;

}
.contactValue {
    font-size: 1.2rem;
    text-align: center;
    padding: 1.5rem;
    text-transform: lowercase;
    font-weight: bold;

    
}