
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    position: relative;
    
}

#header, #footer {
    background-image: url("./assets/tile.jpeg"); 
    background-color: hsla(0, 20%, 99%, 0.5);
    background-repeat: repeat-x;
    text-align: center;
    /* max-width:  1265px; */
    max-height: auto;
    min-height: 100px;
}

#title {
    margin: auto;
    background-color: rgba(253, 252, 252, 0.5);
    color: black;
    max-width: fit-content;
    border-style: double;
}

#headline {
    margin: auto;
    background-color: rgba(253, 252, 252, 0.5);
    max-width: fit-content;
    color: black;
    border-style: double;
}

#mainContainer {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    max-height: auto;
    max-width: auto;
}

#home, #foodMenu, #contact {
    width: auto;
    text-align: center;
    /* border-style: solid; */
    background-color: rgba(253, 252, 252, 0.5);
    position: fixed;

}

#home {
    font-size: 1.5rem;

}

#foodMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: auto;
    flex-wrap: wrap;
    max-height: auto;
    max-width: 100%;
}

#contact {
    text-transform: capitalize;
    font-size: 1.5rem;
}

.foodItem {
    /* padding: 1%; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 2%;   
    font-size: 1em;
    font-size: larger;


    /* border-style: dashed; */
    max-width: 20rem;
    min-width: 4rem;
}

.foodDescription {
    font-weight: normal;
    border-style: solid;
}

.foodImage {
    /* display: inline; */
    max-width:100%;
    max-height: auto;

}

#background {
    size: auto;

}

.tabLink {
    display: inline-block;
    margin: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  whitesmoke;
    padding: 2px;
    font-size: 1rem;
    transition: 1ms;
    border: none;
    color: black;
    
    

}

.tabLink:hover {
    transform: scale(1.2);
    background-color: lightgray;
    text-decoration-line: underline overline;
}

.contactHeading {
    text-align: center;
    line-height: normal;
    font-weight: bold;

}
.contactValue {
    font-size: 1.2rem;
    text-align: center;
    padding: 1.5rem;
    text-transform: lowercase;
    font-weight: bold;

    
}